/*--------Color Palette---------*/
/*dirty martini: #7F7F40*/
/*You Zen Me: #C3D2A2*/
/*inside banana: #FEFBE0*/
/*coffee-4: #CFB7A1*/
/*strawberry sangrita: #CB4E61*/

/*----------FONTS-----------
font-family: 'Catamaran', sans-serif; (not for headers)
font-family: 'Berkshire Swash', cursive; (for headers*/

/*index.html================================*/
body 
{
	background-color: #FEFBE0; 
	color: #CB4E61;
	font-family: 'Catamaran', sans-serif;
}

hr
{
	margin-top: 5px;
}

.navbar-brand 
{
	background-color: #FEFBE0;
	color: #CB4E61;
	padding: 5px;
	border-radius: 10px;
	border: 5px dashed #CFB7A1;
	font-size: 1.7rem;
	width: 510px;
	text-align: center;
	font-family: 'Berkshire Swash', cursive;
}


header 
{
	background-color: #C3D2A2;
}

@media (min-width: 1200px) 
{
	#mainBody 
	{
		max-width: 1300px;
	} 	
}

.conversionTable 
{
	margin: 10px; 
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
}

select 
{
	padding-top: 2px;
	padding-bottom: 3px;
}

#noInput 
{
	max-width: 50px;
	padding-left: 5px;
}

.btn
{
	border-color: #CB4E61;
	background-color: #Fff;
	color: #CB4E61;
	border-radius: 1px;
}

p
{
	margin: 0;
}

.outputArea 
{
	margin-top: 0px;
}

.jumbotron 
{
	margin-top:50px;
	background-color: #FEFBE0;
	text-align: center;
	border: 10px dashed #CFB7A1;
}


#foodSearch 
{
	padding: 5px 3px;
	width: 40%;
}

.foodOptions
{
	margin: 5px 380px;
}

.col-sm-6
{
	text-align: left;
}

.allergy, .diet
{
	float: center;
	margin-right: 5px;
}

.outputArea
{
	text-align: center;
}

.card
{
	display:inline-block;
	margin: 10px;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	backface-visibility: hidden;
	border-radius: 6px;
	overflow: hidden;
}

.card > img
{
	max-height: 100%;
}

.card-body
{
  overflow: auto;
  height: 100px;
  padding: 8px;
}

.bookmark {
	margin-top: 5px;
	margin-bottom: -40px;
	padding: 4px 6px 1px 6px;
	position: relative;
	float: right;
	right: 5px;
	border-radius: 2px;
}

.cardBack {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

.slate 
{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #C3D2A2;
	z-index: 100;
}

#title 
{
	opacity: 0;
	font-weight: bold;
	font-family: 'Berkshire Swash', cursive;
}

