/*--------Color Palette---------*/
/*dirty martini: #7F7F40*/
/*You Zen Me: #C3D2A2*/
/*inside banana: #FEFBE0*/
/*coffee-4: #CFB7A1*/
/*strawberry sangrita: #CB4E61*/

/*----------FONTS-----------
font-family: 'Catamaran', sans-serif; (not for headers)
font-family: 'Berkshire Swash', cursive; (for headers)*/

/*index.html================================*/
body {
	background-color: #768b99; 
	color: #666666;
	font-family: 'Catamaran', sans-serif;
}

hr {
	margin-top: 5px;
	border: 0.5px solid #768b99;
	width:70%;
}

.navbar-brand {
	background-color: #FEFBE0;
	color: #CB4E61;
	padding: 5px;
	border-radius: 10px;
	border: 5px double #CFB7A1;
	font-size: 2.5rem;
	width: 941px;
	text-align: center;
	font-family: 'Lora', serif;
	text-shadow: 2px 2px 4px #000000;
	color:#34729a;
}


.btn:active, .btn-outline-secondary:hover, .btn-secondary:hover, .btn-outline-secondary:active, .btn-secondary:active {
    color: #f6f7fa;
    background-color: #34729a;
    border-color: #f6f7fa;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #FEFBE0;
    background-color: #CB2E61;
    border-color: #C3D2A2;
}


label
{
	 /*position: relative; 
	margin-left: 25px;*/
	text-align: left;
	margin-left:5px;
}

.searchArea
{
	margin:5px;
}


header {
	background-color: #b5c1c8;
		border-bottom: 5px solid #767676;
}

@media (min-width: 1200px) {
	#mainBody {
		max-width: 1300px;
	} 	
}

.conversionTable {
	margin: 10px; 
	padding: 10px;
	background-color: #FEFBE0;
	border-radius: 10px;
	border: 1.5px dashed #CFB7A1;
}

select {
	padding-top: 2px;
	padding-bottom: 3px;
	background-color: #FEFBE0;
	color: #CB4E61;
	border-radius: 5px;
	border: 2px solid #CB4E61;
	font-weight: bold;
	height: 100%;

}

#noInput {
	max-width: 80px;
	padding-left: 5px;
	border: 1.5px solid #CB4E61;
	height: 38px;
	border-radius: 5px;
}

.btn {
	background-color: #f6f7fa;
	color: #36739b;
	border-radius: 5px;
	border: 2px solid #36739b;
	font-weight: bold;
}

p {
	margin: 0;
}

.frontSearch
{
	width:100%;
}
.jumbotron {
	margin-top:50px;
	background-color: #f6f7fa;
	text-align: center;
	border: 13px double #767676;
	box-shadow: 2px 2px 4px #000000;
}


#foodSearch {
	padding: 5px 3px;
	width: 234px;
  border: 1.5px solid #767676;
  color:#768b99;
  border-radius: 5px;
  height: 100%;
}

.mainSearch {
	padding: 5px 3px;
	width: 40% !important;
  border: 1.5px solid #CB4E61;
  border-radius: 5px;
  height: 100%;
}

.foodOptions 
{
	/*margin: 5px 375px;*/
	margin: auto;
}

.col-sm-3 {
	text-align: left;
}

.allergy, .diet {
	/*float: left;
	margin-right: 5px;
	margin-top: 4px;*/
}

.slate {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #768b99;
	z-index: 100;
}

#title {
	opacity: 0;
	font-weight: bold;
	font-family: 'Lora', serif;
	text-shadow: 2px 2px 4px #000000;
	color:#34729a;
}

.outputArea{
	text-align: center;
	margin: 0 auto;
}

.btn.outSource{
	border-color: #CB4E61;
	color: #CB4E61;
	border-radius: 5px;
	margin: 10px;
}

.card {
	text-align: center;
	display: inline-block;
	float: left;
	margin: 10px 15px;
	position: relative;
	width: 280px;
	height: 350px;
	transform-style: preserve-3d;
	transition: all 1s ease;
	border-radius: 6px;
	/*border: 2.0px solid #C3D2A2;*/
	box-shadow:  0 4px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.cardImage {
	max-width: 100%;
	padding: 5px;

}

.cardTitle {
	margin: 0 6px;
	color:#34729a;
	font-family: 'Lora', serif;
	font-weight: bold;

}

.front, .back {
	backface-visibility: hidden;
	background-color: #f6f7fa;
	position: absolute;
	width: 99%;
	height: 99%;

	color:#34729a;
	text-align: center;
	/*border-radius: 1px;*/
}

.back{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
 }

.ingredList{
	/*position: absolute;*/
	max-height: 260px;
	max-width: 225px;
	overflow-y: auto;
	text-align: left;
	backface-visibility: hidden;
	margin: 5px auto;
}

.listItem 
{
	color:#666666;
	padding-top: 3px;
	padding-left: 5px;
	text-transform: capitalize;
}

.flip {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.dropdown-menu.show {
	display: inline;
	font-size: 15px;
	background: #FEFBE0;
	color: #CB4E61;
	border: 2px solid #CFB7A1;
	box-shadow:  0 4px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=checkbox] 
{
	/*position: absolute;*/
}

.dropDownLabel {
	width: 100px;
	position: relative;
	justify-content: left !important;
	margin-left: 25px;
	position: inherit;
}

.dropDownLine {
	margin: 5px;
}

.col-sm-12 {
	padding: 5px;
	float: left;
}

.dropdown-toggle {
	width: 157px;
	margin:3px;
}

.form-inline
{
	margin:; 5px;
	padding:3px;
}

.bookmark {
	margin-top: 5px;
	margin-right: 3px;
	padding: 4px 6px 1px 6px;
	position: absolute;
	right: 5px;
	border-radius: 2px;
	z-index: 100;
	background: #fff;
	color: #CB4E61;
}
